*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  padding: 60px;
  background-color: #03071e;
  color: #edf2f4;
}
input{
  width: 50%;
  height: 50px;
  font-size: 1.3rem;
}
input:focus{
  outline: 0;
}
h2, h3{
  font-size: 50px;
}
h2{
  text-align: center;
}
form{
  text-align: center;
}
.card-grid{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
.card{
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
  max-height: 200px;
}

.card img{
  height: 200px;
}
